<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-9 header">
        <h1>Track your next fuel shops</h1>
        <!-- <p>Monitor and Alert on all petrol bunks near to you </p> -->
        <p>Signup For <span>free</span></p>
        <div ng-app="validationApp" ng-controller="mainController">
          <div class="container">
            <div class="row">  

              <div class="col-sm-6">
                <!-- FORM ============ -->

                <form name="userForm" ng-submit="submitForm()" novalidate>

                  <!-- NAME -->
                  <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label class="left">Name</label>
                    <input type="text" name="name" class="form-control" ng-model="user.name" required>
                    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
                  </div>

                  <!-- USERNAME -->
                  <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm. username.$pristine }">
                    <label class="left">Username</label>
                    <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
                    <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                    <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                  </div>

                  <!-- EMAIL -->
                  <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <label class="left">Email</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                  </div>
                  <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
                </form>
              </div>

              <!-- VALIDATION TABLES ======== -->            
  <!-- <div class="col-sm-6">              
     <div class="row">
        <div class="col-xs-3">
            <h3>Form</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td ng-class="{ success: userForm.$valid, danger: userForm.$invalid }">Valid</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.$pristine, danger: !userForm.$pristine }">Pristine</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.$dirty }">Dirty</td>
                    </tr>
                </tbody>
            </table>
          </div> -->
       <!--  <div class="col-xs-3">
            <h3>Name</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td ng-class="{ success: userForm.name.$valid, danger: userForm.name.$invalid }">Valid</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.name.$pristine, danger: !userForm.name.$pristine }">Pristine</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.name.$dirty }">Dirty</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.name.$touched }">Touched</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-3">
            <h3>Username</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td ng-class="{ success: userForm.username.$valid, danger: userForm.username.$invalid }">Valid</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.username.$pristine, danger: !userForm.username.$pristine }">Pristine</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.username.$dirty }">Dirty</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.username.$touched }">Touched</td>
                    </tr>
                </tbody>
            </table>
          </div> -->
        <!-- <div class="col-xs-3">
            <h3>Email</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td ng-class="{ success: userForm.email.$valid, danger: userForm.email.$invalid }">Valid</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.email.$pristine, danger: !userForm.email.$pristine }">Pristine</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.email.$dirty }">Dirty</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.email.$touched }">Touched</td>
                    </tr>
                </tbody>
            </table>
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>
</div>
<!-- </div> -->
</section> <!-- /#header -->


<section id="partner">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-6 text-center part">
        <img src="img/evernote.png" class="wow bounceIn" alt="evernote">
      </div>
      <div class="col-md-3 col-xs-6 text-center part">
        <img src="img/microsoft.png" class="wow bounceIn" data-wow-delay="0.5s" alt="microsoft">
      </div>  
      <div class="col-md-2 col-xs-12 text-center part">
        <img src="img/google.png" class="wow bounceIn" data-wow-delay="1s" alt="google">
      </div>
      <div class="col-md-3 col-xs-6 text-center part">
        <img src="img/sony.png" class="wow bounceIn" data-wow-delay="1.5s" alt="sony">
      </div>
      <div class="col-md-2 col-xs-6 text-center part">
        <img src="img/firefox.png" class="wow bounceIn" data-wow-delay="2s" alt="firefox">
      </div>
    </div>
  </div>
</section><!-- /#partner-->

<section id="tankapp">
  <div class="container">
    <h2 class="text-center  wow zoomIn">WHY Tank App ?</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="wow fadeInLeft">
          <img src="img/icon-1.png" class="pull-left" alt="icon1">
          <h3>Reliable and Secure Platform</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com ad minim veniam, quis nostruds</p>
        </div>
        <div class="wow fadeInLeft">
          <img src="img/icon-2.png" class="pull-left" alt="icon1">
          <h3>Everything is perfectly orgainized</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com ad minim veniam, quis nostruds</p>
        </div>
        <div class="wow fadeInLeft">
          <img src="img/icon-3.png" class="pull-left" alt="icon1">
          <h3>Rapid customer support</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com ad minim veniam, quis nostruds</p>
        </div>
        <div class="wow fadeInLeft">
          <img src="img/icon-4.png" class="pull-left" alt="icon1">
          <h3>Tons of features and easy to use</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com ad minim veniam, quis nostruds</p>
        </div>
      </div>
      <!-- <div class="hidden-md hidden-lg bg_img">
        <img src="img/body.png" alt="body">
      </div> -->
    </div>
  </div><!-- /.container -->  
</section><!-- /#tankapp -->

<!-- Слайдер Angular-Bootstrap -->
<section id="tankapp_slade">
  <div class="container">
    <h2 class="text-center wow zoomIn">why tank app diffrent ?</h2>
<div class="row">
<div class="col-sm-8">
<div ng-controller="CarouselDemoCtrl">
  <!-- <div style="height: 305px"> -->
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <!-- <img ng-src="{{slide.image}}" style="margin:auto;"> -->

            <div id="carousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
             <!--  <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
              </ol> -->

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="img/icon-5.png" class="pull-left" alt="icon">
                  <h3>Works on any device anyware</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut</p>
                  
                </div>
                <div class="item">
                  <img src="img/icon-5.png" class="pull-left" alt="icon">
                  <h3>Works on any device anyware 2</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut</p>
                </div>
                <div class="item">
                  <img src="img/icon-5.png" class="pull-left" alt="icon">
                  <h3>Works on any device anyware 3</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut</p>
                </div>
                <div class="item">
                  <img src="img/icon-5.png" class="pull-left" alt="icon">
                  <h3>Works on any device anyware 4</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut</p>
                </div>
              </div> <!-- /.carousel-inner -->
            </div>
          </div> <!-- /.col-md-8--> 
        </div>
       <!--  <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div> -->
      </div>
    </div>
  <!-- </div> -->
<!--   <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="noWrapSlides">
          Disable Slide Looping
        </label>
      </div>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div> -->
</div>
</div>
</section>

<!--
<section id="tankapp_slade">
  <div class="container">
    <h2 class="text-center wow zoomIn">why tank app diffrent ?</h2>
    <div class="row">
      <div class="col-sm-8">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          Indicators 
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
          </ol>

          Wrapper for slides 
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="img/icon-5.png" class="pull-left" alt="icon">
              <h3>Works on any device anyware</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut</p>

            </div>
            <div class="item">
              <img src="img/icon-5.png" class="pull-left" alt="icon">
              <h3>Works on any device anyware 2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut</p>
            </div>
            <div class="item">
              <img src="img/icon-5.png" class="pull-left" alt="icon">
              <h3>Works on any device anyware 3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut</p>
            </div>
            <div class="item">
              <img src="img/icon-5.png" class="pull-left" alt="icon">
              <h3>Works on any device anyware 4</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut</p>
            </div>
          </div> /.carousel-inner 
        </div>
      </div> /.col-md-8
    </div>
  </div>
</section> /#tankapp_slade -->

<section id="forms">
  <div class="container text-center">
    <div class="row wow zoomIn">
      <h2>save time &amp; gain agility</h2>
      <p>Using our cloud Monitoring Services So you can Focous on Runing Yours Better </p>
    </div>
    <div class="col-md-8 col-md-push-2">
      <!-- FORM ============ -->

      <form name="userForm" ng-submit="submitForm()" novalidate>

        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
          <label class="left">Name</label>
          <input type="text" name="name" class="form-control" ng-model="user.name" required>
          <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>

        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
          <label class="left">Username</label>
          <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
          <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
          <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>

        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
          <label class="left">Email</label>
          <input type="email" name="email" class="form-control" ng-model="user.email">
          <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

      </form>
    </div>
        <!--<form class="form-inline">
          <div class="row">
            <div class="form-group col-sm-7 col-sm-offset-1">
              <input type="email" name="email" class="form-control" placeholder=" Enter Your E-mail Adress">
            </div>
            <div class="form-group col-sm-2">
              <button type="submit" class="btn btn-success">Sign up</button>
            </div>
          </div>
        </form>-->
      </div>
    </section> 
	
   <!-- <script>
    window.onload = function() {
     var el1 = document.getElementsByClassName("cbalink")[0];
     var el2 = document.getElementsByClassName("cumf_bt_form_wrapper")[0];
     if (!!el1.parentNode) el1.parentNode.removeChild(el1);
     if (!!el2.parentNode) el2.parentNode.removeChild(el2);
    };
  </script> -->
    <!--<section id="forms">
      <div ng-app="validationApp" ng-controller="mainController">
        <div class="container">
          <div class="row">  
   
<div class="col-sm-6">
     FORM ============ 
  
    <form name="userForm" ng-submit="submitForm()" novalidate>

        NAME 
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>
      
        USERNAME 
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
        
        EMAIL 
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        
    </form>
  </div> -->
  <!-- <div class="col-sm-6"> -->
  <!-- VALIDATION TABLES ======== -->    
   <!--  <div class="row">
        <div class="col-xs-3">
            <h3>Form</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td ng-class="{ success: userForm.$valid, danger: userForm.$invalid }">Valid</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.$pristine, danger: !userForm.$pristine }">Pristine</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.$dirty }">Dirty</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-3">
            <h3>Name</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td ng-class="{ success: userForm.name.$valid, danger: userForm.name.$invalid }">Valid</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.name.$pristine, danger: !userForm.name.$pristine }">Pristine</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.name.$dirty }">Dirty</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.name.$touched }">Touched</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-3">
            <h3>Username</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td ng-class="{ success: userForm.username.$valid, danger: userForm.username.$invalid }">Valid</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.username.$pristine, danger: !userForm.username.$pristine }">Pristine</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.username.$dirty }">Dirty</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.username.$touched }">Touched</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-3">
            <h3>Email</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td ng-class="{ success: userForm.email.$valid, danger: userForm.email.$invalid }">Valid</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.email.$pristine, danger: !userForm.email.$pristine }">Pristine</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.email.$dirty }">Dirty</td>
                    </tr>
                    <tr>
                        <td ng-class="{ success: userForm.email.$touched }">Touched</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
    
</div>
</div>
</div>
</section> #forms -->

