/* app css stylesheet 
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;

}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
*/
/* 
input.ng-invalid.ng-dirty{
	border: 1px solid red;
} */

/*стили для карусели*/
.carousel-control.right, .carousel-control.left {
  background: none;
}
.glyphicon {
  font-family: none;
}
.carousel-control {
  text-shadow: none;
}
.carousel-indicators {
    left: 100%;
    bottom: -20px;
}
