/* app css stylesheet 
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;

}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
*/
/* 
input.ng-invalid.ng-dirty{
  border: 1px solid red;
  } */

  /*стили для карусели*/

.carousel-control.left,
.carousel-control.right {
       // display: none; 
 }

 a.right.carousel-control {
  position: absolute !important;
  top: 100%;
  width: 385px;
  right: 16px;
  height: 39px;
  z-index: 2;
}

a.left.carousel-control {
  position: absolute !important;
  top: 100%;
  width: 385px;
  left: 16px;
  height: 39px;
  z-index: 2;
}

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

.glyphicon {
  font-family: none;
}

.carousel-control {
  text-shadow: none;
}

.carousel-indicators {
  left: 100%;
  bottom: -20px;
}

// .carousel-control.right, .carousel-control.left {
//   background: none;
// }
// .glyphicon {
//   font-family: none;
// }
// .carousel-control {
//   text-shadow: none;
// }
// .carousel-indicators {
//     left: 100%;
//     bottom: -20px;
// }